body { 
    font-family: 'Ubuntu', sans-serif;
    background:#333 url(image/bg-strip-dark.png) 0px 0px;
    color: snow;
}

h4 {
    color: #333;
}

input {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 90%;
    border-radius: .3rem;
}


th {
    background-color: snow;
}

td {
    background-color: snow;
    height: 3em;
    padding: 0;
}

span {
    font-weight: bold;
}

button {
    font-family: -apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif,\"Apple Color Emoji\",\"Segoe UI Emoji\",\"Segoe UI Symbol\";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #69a0f3;
    border: none;
    border-radius: .3rem;
    color: white;
    padding: 0.25em 1em 0.25em 1em
}

.jumbotron {
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    overflow: auto;
    padding: 2em 2em 2em 2em;
}

#home-banner {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

#home-banner h1 {
    font-family: "Tangerine", serif;
    font-size: 7em;
    color: snow;
}

#welcome-blurb {
    width: 60%;
    float: left;
    padding-right: 2em;
    margin-top: 1em;
}

#sign-in-form {
    text-align: center;
    width: 40%;
    background-color: rgb(80, 79, 79);
    border-radius: .5rem;
    padding: 1em 1em 1em 1em;
    margin: 0em 0em 0em 0em;
    float: left;
    overflow: auto;
}

#sign-in-link {
    margin-top: 2em;
    float: right;
}

#sign-in-button {
    background-color: #4f8cee;
    border-color: #4f8cee;
    border-radius: .3rem;
    color: snow;
    font-size: 1.25em;
}

#home-links-div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
}

#help-link {
    position: absolute;
    bottom: 1.5em;
    color: snow;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#banner {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

#banner-text {
    font-family: Tangerine, serif;
    font-size: 5em;
    font-weight: bold;
}

#lists {
    width: 97%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    overflow: auto;
}

#lists table {
    width: 22%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#other-lists {
    width: 82%;
    padding-bottom: 1em;
    margin: -0.05em 0em 0em 0.3em;
    white-space: nowrap;
    overflow: auto;
    float: left;
}

#other-lists table {
    width: 17%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    float: left;
}

.wl-price-box {
    background-color: LightGreen;
    height: 3em;
    width: 3em;
    float: left;
    line-height: 3em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.wl-item-content {
    float:left;
    line-height: 3em;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.wl-checkbox {
    float: right;
    margin: 1em 1em 0em 1em;
}

#save-div {
    width: 100%;
    margin-top: 2em;
    text-align: right;
    float: right;
}

#links-div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
}

#description-div {
    height: 82%; 
    text-align: left;
}

#item-description {
    width: 40%;
    border: none;
    border-radius: .3rem;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    font-size: 1rem;
    text-align: center;
    padding: 1em;
   margin: 1em;
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 10;
}